.header {
  background-color: #24292e;
  color: #ffffff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.navbar-container {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 1.25rem;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-left: auto;
}

.nav-links li {
  margin-left: 1rem;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out; /* Transição suave para cor e movimento */
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.nav-links a:hover {
  color: #586069; /* Muda a cor ao passar o mouse */
  transform: translateY(-3px); /* Efeito de "subida" */
  background-color: transparent; /* Remove qualquer fundo de sobreposição */
}
